<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

                     <!-- navegador -->
<form action="/ejemplo2017/producto">
<label>Id</label>
<input type="text" name="id">


<label>Descripcion</label>
<input type="text" name="descripcion">

<label>Fecha Vencimiento</label>
<input type="text" name="fechaVencimiento">

<label>Precio<label>
<input type="text" name="precio">

<label>Cantidad<label>
<input type="text" name="cantidad">

<input type="submit" value="Registrar">

</form>



</body>
</html>